{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-5">
                <div class="card">
                    <form action="" class="card-body" method="POST">
                       
                        <div class="form-group purple-border">
                            <label>Escribe tu consulta</label>
                            <textarea class="form-control" name="query" rows="10" cols="40"></textarea>
                        </div>
                        


                        <input type="submit" class="btn btn-primary btn-block" value="Enviar consulta">
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-small">
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}