{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row pt-5">

            <div class="col-md-5">
                <div class="card">
                    <form action="" class="card-body" method="POST">
                        <div class="form-group">
                            <label for="sel1">Base de Datos:</label>
                            <select class="form-control" id="sel1">
                                <option>Medicos</option>
                                <option>DEntista</option>
                                <option>COnstruccion</option>
                                <option>VEhiculos</option>
                            </select>
                        </div>  
                        <input type="submit" class="btn btn-primary btn-block" value="Use">
                    </form>
                </div>
            </div>

            <div class="col-md-7">
                <table class="table table-small">
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
{% endblock %}